.card{
width: 300px;
 
 border:  1px solid black;
 border-radius: 7px;
 overflow: hidden;
}
.card img{
  width: 100%;
 max-height: 150px;
 
}
.card h1{
  margin:  1px 0;
padding-left: 0;
}
.card h3  p{
  margin: 3px 3px;
}
.card-content{
  margin: 0 4px;
}
.container{
  display: flex;
  flex-wrap: wrap;
  gap:12Px;

  
}